@model IEnumerable<to_lib.ServiceInterval>

@{
    var id = ViewData["modelId"];
}


<div class="row">
    <button id="btn@(id)" type="button" class="btn btn-primary btn-sm" >Select Intervals</button>
</div>

<div id="ss@(id)" class="modal fade attEditor"  tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="sscontent@(id)" ></div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $("btn@(id)").on("click", function (e) {
        $('#sscontent@(id)').load("/Home/GetServiceIntervals", function () {
        $('#ss@(id)').modal({
        keyboard: true
        }, 'show');
        });
        return false;
        });
    });
</script>
