@model to_lib.ServiceInterval

<tr>
    <td>
        @Html.EditorFor(e => Model.ServiceIntervalMarker)
    </td>
    <td>
        @Html.EditorFor(e => Model.Months)
    </td>
    <td>
        @Html.EditorFor(e => Model.Labour)
    </td>
    <td>
        @Html.EditorFor(e => Model.Selected)
    </td>
</tr>