@model IEnumerable<to_lib.Attribute>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Attributes</h3>
    </div>

    <div class="modal-body">
        <table class="table table-striped" >
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td><input type="text" value="class" />"</td>
                <td><input type="text" value="firstColEmph" /></td>
                <td>&times;</td>
            </tr>
            <tr>
                <td><input type="text" value="autoPopup" />"</td>
                <td><input type="text" value="false" /></td>
                <td>&times;</td>
            </tr>
            <tr>
                <td><input type="text"  />"</td>
                <td><input type="text" /></td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
