<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Categories</h3>
    </div>

    <div class="modal-body">
        <div class="Cols3">
            <input type="checkbox" name="categories" value="Body General" />Body General<br />
            <input type="checkbox" name="categories" value="Tyre Pressure Monitor Reset" />Tyre Pressure Monitor Reset<br />
            <input type="checkbox" name="categories" value="Electrical Computer" />Electrical Computer<br />
            <input type="checkbox" name="categories" value="Technology" />Technology<br />
            <input type="checkbox" name="categories" value="Service Light Reset" />Service Light Reset<br />
            <input type="checkbox" name="categories" value="Diesel Fuel System" />Diesel Fuel System<br />
            <input type="checkbox" name="categories" value="Body Glass - Mirrors" />Body Glass - Mirrors<br />
            <input type="checkbox" name="categories" value="Transmission - Manual" />Transmission - Manual<br />
            <input type="checkbox" name="categories" value="Body Specifications" />Body Specifications<br />
            <input type="checkbox" name="categories" value="Engine Valve Timing" />Engine Valve Timing<br />
            <input type="checkbox" name="categories" value="Wheels - Tyres" />Wheels - Tyres<br />
            <input type="checkbox" name="categories" value="Body Panels Moulds - Trim" />Body Panels Moulds - Trim<br />
            <input type="checkbox" name="categories" value="SRS - Airbags" />SRS - Airbags<br />
            <input type="checkbox" name="categories" value="Service Schedule" />Service Schedule<br />
            <input type="checkbox" name="categories" value="Service and Tuning Data" />Service and Tuning Data<br />
            <input type="checkbox" name="categories" value="Petrol Fuel System" />Petrol Fuel System<br />
            <input type="checkbox" name="categories" value="Safety General" />Safety General<br />
            <input type="checkbox" name="categories" value="Diagnostic Hints and Tips" />Diagnostic Hints and Tips<br />
            <input type="checkbox" name="categories" value="Serpentine Belts" />Serpentine Belts<br />
            <input type="checkbox" name="categories" value="Engine Mechanical" />Engine Mechanical<br />
            <input type="checkbox" name="categories" value="Steering and Suspension" />Steering and Suspension<br />
            <input type="checkbox" name="categories" value="Braking Systems" />Braking Systems<br />
            <input type="checkbox" name="categories" value="Timing Belt" />Timing Belt<br />
            <input type="checkbox" name="categories" value="Engine General" />Engine General<br />
            <input type="checkbox" name="categories" value="Engine Emission" />Engine Emission<br />
            <input type="checkbox" name="categories" value="Air Conditioning - Heating" />Air Conditioning - Heating<br />
            <input type="checkbox" name="categories" value="Cabin Air Filter" />Cabin Air Filter<br />
            <input type="checkbox" name="categories" value="Wheel Alignments" />Wheel Alignments<br />
            <input type="checkbox" name="categories" value="Timing Belt Replacement" />Timing Belt Replacement<br />
            <input type="checkbox" name="categories" value="Electrical General" />Electrical General<br />
            <input type="checkbox" name="categories" value="Braking Electronic Controls" />Braking Electronic Controls<br />
            <input type="checkbox" name="categories" value="Engine Management" />Engine Management<br />
            <input type="checkbox" name="categories" value="Clutch" />Clutch<br />
            <input type="checkbox" name="categories" value="Hybrid and Electric Systems" />Hybrid and Electric Systems<br />
            <input type="checkbox" name="categories" value="Transmission - Automatic" />Transmission - Automatic<br />
            <input type="checkbox" name="categories" value="Electrical Interior" />Electrical Interior<br />
            <input type="checkbox" name="categories" value="Transmission Electronic Controls" />Transmission Electronic Controls<br />
            <input type="checkbox" name="categories" value="General" />General<br />
            <input type="checkbox" name="categories" value="LPG" />LPG<br />
            <input type="checkbox" name="categories" value="Roadworthiness" />Roadworthiness<br />
            <input type="checkbox" name="categories" value="Common Faults" />Common Faults<br />
            <input type="checkbox" name="categories" value="Workshop Tips" />Workshop Tips<br />
            <input type="checkbox" name="categories" value="Unleaded Petrol" />Unleaded Petrol<br />
            <input type="checkbox" name="categories" value="Auto Transmissions" />Auto Transmissions<br />
            <input type="checkbox" name="categories" value="Vehicle Identification" />Vehicle Identification<br />
            <input type="checkbox" name="categories" value="Engine Ignition" />Engine Ignition<br />
            <input type="checkbox" name="categories" value="Cooling Systems" />Cooling Systems<br />
            <input type="checkbox" name="categories" value="Final Drives Shafts Axles" />Final Drives Shafts Axles<br />
        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
