
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Upload Resource</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <label for="thmbs" class="label">Generate Thumbnails?</label>
            <input type="checkbox" id="thmbs" />
        </div>
        
        <fieldset>
            <div class="row">
                <label class="col-lg-3 label">Thumbnail</label>
                <input type="text" class="col-lg-3" value="75"/>
                <span class="col-lg-1">x</span>
                <input type="text" class="col-lg-3" value="75" />
            </div>
            <div class="row">
                <label class="col-lg-3 label">Mid Size</label>
                <input type="text" class="col-lg-3" value="300" />
                <span class="col-lg-1">x</span>
                <input type="text" class="col-lg-3" value="300" />
            </div>
            <div class="row">
                <label class="col-lg-3 label">Max Size</label>
                <input type="text" class="col-lg-3" value="1024" />
                <span class="col-lg-1">x</span>
                <input type="text" class="col-lg-3" value="1024" />
            </div>
        </fieldset>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>

