@model to_lib.Engine

<div class="row">
    <span class="col-lg-6">
        @Html.DisplayFor(e => e.Name)
    </span>
    <span class="col-lg-6">
        @Html.DisplayFor(e => e.YearFrom) - @Html.DisplayFor(e => e.YearTo)
    </span>
</div>